.aboutUsSection{
    display: grid;
    grid-template-areas: 
    "title title"
    "sideA sideB";
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: 70%;
    justify-self: center;
}

.aboutUsTitle{
    color: whitesmoke;
    font-size: 40px;
    font-family: 'Girassol', cursive;
    justify-self: center;
    align-self: center;
    grid-area: title;
    margin: 30px;
}

.aboutUsImage{
    max-height: 500px;
    width: 80%;
    grid-area: sideA
}

.aboutUsParagraph{
    color: whitesmoke;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;    
    font-size: 25px;
    align-self: center;
    grid-area: sideB;
}