.form{
    grid-area: filter;
    display: flex;
    width: max-content;
    margin-left: 5rem;
}

.title{
    width: fit-content;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    justify-self: end;
    margin-right: 1rem;
}

.filter{
    width: max-content;
}

.subFilter{
    width: max-content;
}