.footer{
    display: flex;
    grid-area: footer;
    background-color: #593128;
    justify-content: center;
}

.pFooter{
    color: whitesmoke;
    font-size: 15px;
    margin: 10px;
}

.aFooter{
    color: whitesmoke;
}

.aFooter:hover{
    color:#BF4904;
}